
<ion-content  class="login" text-center>
  <ion-grid>
    <ion-row>
      <ion-col padding-top>
          <ion-img id="img1" width="70%" style="contain:none!important;" src="./assets/img/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  padding-top>
        <form class="login-form auth-form" [formGroup]="login" (ngSubmit)="doLogin()">
          <ion-item>
            <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
          </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Password" formControlName="password" show-hide-input></ion-input>
            </ion-item>
          <ion-row class="alt-options" padding-top>
            <ion-col  width-48>
                <button ion-button block class="login-button" type="submit" [disabled]="!login.valid">Log in</button>
            </ion-col>
            <ion-col  width-48>
              <button ion-button block color="theme1" class=" login-button" (click)="goToSignup()" onclick='return false;'> Regístrate</button>
            </ion-col>
          </ion-row>
        </form>
        <ion-row class="alt-options" padding-top>
          <ion-col no-padding col-1>

          </ion-col>
          <ion-col no-padding col-10>
            <!--button ion-button block class="facebook-auth-button" (click)="doFacebookSignup()">Regístrate con Facebook</button-->
          </ion-col>
          <ion-col no-padding col-1>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="alt-options">
      <ion-col no-padding width-100>
        <button ion-button block clear class="forgot-button" (click)="goToForgotPassword()">Recuperar password</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
