page-profile-view {
  p {
    color: #999999;
    margin-top: 3%;
    font-size: 27px;
  }
  .profile-label{
    color: color($colors, theme-3, base) !important;
  }
  .profile-item{
    font-size: 20px;
    color: #000;
    padding-top: 13px;
    padding-left: 20px;
  }
  .profile-list{
    padding: 1px 16px !important;
  }
}
