<!--ion-header>
  <ion-toolbar color="theme-1">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
  <ion-row>
    <ion-col col-6 text-center>
      <p> {{ this.nickname }} </p>
    </ion-col>
    <ion-col col-6>
      <button ion-button block color="theme-2" (click)="goProfileEdit()">
        Editar
      </button>
    </ion-col>
  </ion-row>
  <ion-list no-lines padding class="profile-list">
    <ion-item>
      <p class="profile-label">Datos de contacto</p>
      <p class="profile-item" text-wrap> {{ this.name }} </p>
      <p class="profile-item" text-wrap> {{  this.surnames }} </p>
      <p class="profile-item" text-wrap> Maradona </p>
    </ion-item>
    <ion-item>
      <p class="profile-label">Celular</p>
      <p class="profile-item" text-wrap> {{ this.phone }} </p>
    </ion-item>
    <ion-item>
      <p class="profile-label">Email</p>
      <p class="profile-item" text-wrap> {{ this.email }} </p>
    </ion-item>
    <ion-item>
      <p class="profile-label">Tarjetas</p>
    </ion-item>
  </ion-list>
  <ion-list radio-group padding class="profile-list">
    <ion-item>
      <ion-label>*********603</ion-label>
      <ion-radio value="friends" color="theme-2"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>*********603</ion-label>
      <ion-radio value="family" checked color="theme-2"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>*********603</ion-label>
      <ion-radio value="enemies" color="theme-2"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
