<ion-header>
  <ion-navbar color="theme-1">
    <ion-title>Recuperar password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="this.view == 1">
    <p text-justify class="text-signup">
      Si has olvidado tu contrasena ingresa el correo electronico con el que te registraste en Taimingo, y te enviaremos
      una liga para que puedas crear una nueva contrasena.
    </p>
    <ion-item>
      <ion-label stacked class="stacked-color">Correo</ion-label>
      <ion-input type="email" placeholder="Correo" ></ion-input>
    </ion-item>
    <br><br>
    <button ion-button block class="signup-button" color="theme-2" (click)="recoverPassword()" >Recuerar contrasena</button>
  </div>
  <div *ngIf="this.view == 2">
    <p text-justify class="text-signup">
      Listo! hemos enviado una liga a tu correo, porfavor checa tu correo y sigue las instucciones para cambiar tu password.
    </p>
    <br><br>
    <button ion-button block class="signup-button" color="theme-2" (click)="this.navCtrl.pop()" >Regresar</button>
  </div>
</ion-content>
