page-package {
  .header-image {
      //background-image: 'url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950)';
      height: 30vh;
  }

  .main-content {
      padding: 20px;
      background-color: white;
  }
  img {
      max-width: 100%;
      border: 0;
      height: 50%;
      width: 100%;
      background-color: red;
  }
  .btn-pack{
    background-color: color($colors, theme-2, base);
    color: white;
  }
  .package-label{
    color: color($colors, theme-3, base) !important;
  }
  .package-btns{
    background-color: color($colors, theme-2, base);
    color: #FFF;
  }
  .col-pack{
    color: #FFFFFF;
  }
  .icon-pack{
    font-size: 25px;
  }
  .opaque {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: color($colors, theme-1, base);
    opacity: 0.7;
  }

  .opaque .toolbar-background {
    background-color: rgba(#f8f8f8, 0.55);
  }

}
