<ion-header class="opaque">
  <ion-navbar no-border-bottom>
    <ion-title *ngIf="this.package ">PUC: {{ this.package.puc_alias }} </ion-title>
    <ion-buttons right>
      <button ion-button class="btn-pack" (click)="goPuc()" >Ir al PUC</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding fullscreen parallax-header >
  <img src="./assets/img/pack.png" class="header-image">

  <ion-grid padding class="main-content">
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <p class="package-label">Nombre del PUC</p>
          <p text-wrap *ngIf="this.package"> {{ this.package.puc_name }}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <p class="package-label">Alias del PUC</p>
          <p text-wrap *ngIf="this.package"> {{ this.package.puc_alias }} </p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <p class="package-label">Dirección del PUC</p>
          <p text-wrap *ngIf="this.package"> {{ this.package.puc_address }}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <p class="package-label">Número de guía</p>
          <p text-wrap> asS11s1s </p>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <p class="package-label">Paquetería</p>
          <p text-wrap *ngIf="this.package"> {{ this.package.carrier }} </p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <p class="package-label">Estado</p>
          <p text-wrap> Maltratado pero aun sirve </p>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <p class="package-label">Estatus</p>
          <p text-wrap> En PUC </p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <p text-wrap class="package-label">Días restantes</p>
          <p text-wrap> 3 </p>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <p class="package-label">Días vencidos</p>
          <p text-wrap> 4 </p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <p text-wrap class="package-label">Tiempo para pérdida</p>
          <p text-wrap> 3 días </p>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <p class="package-label">Cargos generados</p>
          <p text-wrap> $4.50 pesos</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <p class="package-label">Comentarios</p>
          <p text-wrap> </p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>



<ion-footer>
  <ion-toolbar color="theme-2" class="footer-pak">
    <ion-row>
      <ion-col col-4 text-center class="col-pack" (click)="goHandDelivery()">
        <span class="tabtext" >
          <div class="icon icon-pack"><ion-icon ios="ios-bicycle" md="md-bicycle"></ion-icon></div>
          Entrega en mano
        </span>
      </ion-col>
      <ion-col col-4 text-center class="col-pack" (click)="goCollectionCode()">
        <span class="tabtext" >
          <div class="icon icon-pack"><ion-icon ios="ios-qr-scanner" md="md-qr-scanner" ></ion-icon></div>
          Código recolección
        </span>
      </ion-col>
      <ion-col col-4 text-center class="col-pack" (click)="goSend()">
        <span class="tabtext" >
          <div class="icon icon-pack"><ion-icon name="send" class="icon-pack"></ion-icon></div>
          Enviar a otro PUC
        </span>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


<!--ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-grid class="package-btns" text-center>
      <ion-row class="package-btns">
        <ion-col col-3>
        </ion-col>
        <ion-col col-3 (click)="goSharePackage()">
          <ion-icon name="md-share" style="font-size:2.5em;"></ion-icon>
          <br>
          Compartir
        </ion-col>
        <ion-col text-wrap col-3 (click)="goCollectionCode()">
            <ion-icon name="qr-scanner" style="font-size:2.5em;"></ion-icon>
            <br>
          Mi código de recoleccion
        </ion-col>
        <ion-col col-3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer-->
