<ion-header>
    <ion-navbar color="theme-1">
        <ion-title>Ver código</ion-title>
    </ion-navbar>
</ion-header>


<ion-content no-padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-list no-lines>
                    <ion-item>
                        <p class="code-label">Dirección del PUC</p>
                        <p text-wrap> {{ this.puc.address }}</p>
                    </ion-item>
                    <ion-item>
                        <p class="code-label">Nombre</p>
                        <p text-wrap> {{ this._id.name }}</p>
                    </ion-item>
                    <ion-item>
                        <p class="code-label">Apellidos</p>
                        <p text-wrap> {{ this._id.surnames }}</p>
                    </ion-item>
                    <ion-item>
                        <p class="code-label">Celular</p>
                        <p text-wrap> {{ this._id.phone }} </p>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-buttons end>
                    <button ion-button icon-only clear color="theme-1" (click)="goSharePackage()">
                        <ion-icon ios="ios-share" md="md-share" ></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 tex-center>
                <div text-center>
                    <img style="height: 180px!important; width: 180px!important;" [src]="this.imagen"  alt="">
                    <!--img style="height: 180px!important; width: 180px!important;" *ngIf="this.image == null" src="../../assets/img/codigo-qr.jpg"  alt=""-->
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-10>
                <button ion-button block padding color="theme-2" (click)="goProfile()">
                    Editar Perfil
                </button>
            </ion-col>
            <ion-col col-1></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
