page-collection-code {
    .code-label{
        color: color($colors, theme-3, base) !important;
    }
    .imgCode{
        height: 70vh !important;
        width: auto !important;
        margin: auto;
        display: block;
    }
    ion-icon{
        font-size: 30px !important;
    }
    img {
        height: 70vh !important;
        width: auto !important;
        align-items: center;
    }

}
