<ion-header>
  <ion-navbar color="theme-1">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="settingsForm" class="settings-form">
      <ion-list no-lines>
        <ion-item>
          <ion-input text-center class="profile-nickname" type="text" formControlName="nickname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="profile-label" stacked>  <ion-icon ios="ios-person" md="md-person" item-start></ion-icon>Datos de contacto</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" formControlName="surnames"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="profile-label" stacked> <ion-icon ios="ios-call" md="md-call" item-start></ion-icon>Celular</ion-label>
          <ion-input type="number" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="profile-label" stacked><ion-icon ios="ios-mail" md="md-mail" item-start></ion-icon>E-mail</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="profile-label" stacked><ion-icon ios="ios-card" md="md-card" item-start></ion-icon>Tarjetas <ion-icon  class="button-admin" color="theme-2" ios="ios-settings" md="md-settings" (click)="goAddCard()" item-end></ion-icon></ion-label>
        </ion-item>
      </ion-list>
      <ion-list radio-group padding class="profile-list" no-lines>
        <ion-item>
          <ion-label>*********603</ion-label>
          <ion-radio value="friends" color="theme-2"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>*********603</ion-label>
          <ion-radio value="family" checked color="theme-2"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>*********603</ion-label>
          <ion-radio value="enemies" color="theme-2"></ion-radio>
        </ion-item>
      </ion-list>
      <button ion-button [hidden]="!settingsForm.dirty" (click)="saveData()" block color="theme-2" class="btnSave">
        Guardar
      </button>

      <button  ion-button  block color="theme-3" (click)="logout()" outline>
        Salir
      </button>
    </form>
</ion-content>

<!--ion-content  padding text-center>
  <form [formGroup]="settingsForm" class="settings-form">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
            <ion-list inset>
              <ion-item>
                <ion-input type="text" formControlName="nickname"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label class="profile-label" stacked> <ion-icon name="md-person" item-start></ion-icon>Datos de contacto</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" formControlName="surnames"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label class="profile-label" stacked> <ion-icon name="call" item-start></ion-icon>Celular</ion-label>
                <ion-input type="text" formControlName="phone"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label class="profile-label" stacked> <ion-icon name="mail" item-start></ion-icon>E-mail</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
            </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-list padding>
            <ion-item id="buttonSave">

            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-list no-lines>
    <ion-item>
      <ion-row>
        <ion-col col-6>
          <p class="profile-label"> Tarjetas de Crédito </p>
        </ion-col>
        <ion-col col-5 text-right (click)="goAddCard()">
          <ion-icon name="card" style="font-size: 28px;" color="theme-2"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <p>Master Card ********8798</p>
    </ion-item>

    <button ion-button (click)="saveData()" block color="theme-2" class="btnSave">
      Guardar
    </button>

    <button  ion-button  block color="theme-3" (click)="logout()" outline>
      Salir
    </button>
  </ion-list>
</ion-content-->
