page-profile {
  .profile-nickname{
      color: #999999;
      margin-top: 3%;
      font-size: 27px;
  }
  .photo-backgound{
    background-color: color($colors, theme-1, base);
    height: 25%;
  }
  .profile-label{
    color: color($colors, theme-3, base) !important;
    font-size: 15px !important;
  }
  #imgProfile {
    background-color : transparent !important;
  }
  .btnSave{
    height: 35px !important;
    font-size: 2rem !important;
  }
  .item p {
    margin-top: 3%;

  }
  .button-admin{
    float: right;
    font-size: 30px;    
  }

}
