<ion-header>
  <ion-navbar color="theme-1">
    <ion-title>Valida tu código</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="this.view == 1">
    <p text-justify class="text-signup">
      Hemos enviado un mesaje de texto con tu código de activacion al numero {{ this.phone }}, porfavor
      ingresa ese código en el siguiente campo
    </p>
    <ion-list>
      <ion-item>
        <ion-label stacked class="stacked-color">Código</ion-label>
        <ion-input type="text" placeholder="Código" [(ngModel)]="code" ></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block color="theme-2" >
      Ingresar
    </button>
    <button ion-button block clear color="theme-1" (click)="updatePhone()">
      Cambiar número
    </button>
  </div>
  <div *ngIf="this.view == 2">
    <button ion-button color="danger" clear (click)="cancelUpdatePhone()" style="padding-left: 0px;">
      Cancelar
    </button>
    <p text-justify class="text-signup">
      Escribe el nuevo número al que se mandara tu código de activación.
    </p>
    <ion-list>
      <ion-item>
        <ion-label stacked class="stacked-color">Telefono</ion-label>
        <ion-input type="number" placeholder="Nuevo número" [(ngModel)]="code" ></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block color="theme-2" (click)="cancelUpdatePhone()">
      Cambiar numero
    </button>
  </div>
</ion-content>

