page-share-package {
    img {
        max-width: 100%;
        border: 0;
        height: 40%;
        width: 100%;
        background-color: red;
    }
    .text-home{
        color: #95989A;
        font-weight: bold;
        font-size: 15px;
    }
    .btn-pack{
        background-color: color($colors, theme-2, base);
        color: white;
    }
    .package-label{
        color: color($colors, theme-3, base) !important;
    }

    .opaque {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background-color: color($colors, theme-1, base);
        opacity: 0.7;
    }
    .opaque .toolbar-background {
        background-color: rgba(#f8f8f8, 0.55);
    }
    .custom-input{
        border-bottom: 2px solid #ff9b7b;
    }
}
