<ion-header class="opaque">
    <ion-navbar no-border-bottom>
        <ion-title>PUC: {{ this.puc.aliasPuc }} </ion-title>
        <ion-buttons right>
            <button ion-button class="btn-pack" (click)="goPuc()" >Ir al PUC</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <img src="./assets/img/pack.png">
    <p text-justify text-wrap class="text-home">
        Selecciona la persona que recogerá el paquete,
        es importante saber que se le pedirá una
        identificación oficial para recoger el paquete
        y el código generado además de que se desactivarán
        los demás códigos compartidos
    </p>
    <ion-list no-lines>
        <ion-item>
            <ion-label class="package-label" stacked>Datos de contacto</ion-label>
            <ion-input class="custom-input" type="text" [(ngModel)]="this.name" placeholder="Nombre"></ion-input>
            <ion-input class="custom-input" type="text" [(ngModel)]="this.surnames" placeholder="Apellidos"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label class="package-label" stacked>Telefono</ion-label>
            <ion-input class="custom-input" type="number" [(ngModel)]="this.phone" placeholder="Telefono"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label class="package-label" stacked>Correo</ion-label>
            <ion-input class="custom-input" type="text" [(ngModel)]="this.email" placeholder="Correo"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button block color="theme-2" (click)="share()">
        Compartir código
    </button>
</ion-content>
