
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <span class="text-home"> Dónde recibes tus paquetes </span>
    <ion-list class="au-form" >
        <ion-item text-center>
            <ion-searchbar #searchbar placeholder="Busca tu PUC" ></ion-searchbar>
            <button ion-button icon-only clear item-right (click)="getCurrentPosition()">
                <ion-icon class="icon-style" ios="ios-locate" md="md-locate"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
    <button ion-button id="btnAddPuc"  (click)="hola( 1 )">
        Hola
    </button>
    <div id="map" #map></div>
    <ion-row>
        <ion-col col-10>
            <ion-row>
                <ion-col col-4 style="padding: 2px;" *ngFor="let puc of this.myPucs" (click)="goShowPucPage( puc.pick_up_center )">
                    <p class="pucs" style="font-size: 16px;" no-padding no-margin >{{ puc.pick_up_center.aliasPuc }}</p>
                    <p class="pucs" style="font-size: 14px;" no-padding no-margin >PUC {{ puc.pick_up_center.number }}</p>
                    <p class="pucs" style="font-size: 12px;" no-padding no-margin >20 Km.</p>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col  style="background-color=blue"col-2>
            <ion-icon name="md-add-circle" style="font-size: 3.2em;" color="theme-2" (click)="goAddPuc()"></ion-icon>
        </ion-col>
    </ion-row>
    <div col-12 class="subtitle">
        Mis paquetes
        <ion-icon ios="ios-list-box" md="md-list-box" style="float: right;" (click)="goHistory()"></ion-icon>
    </div>
    <ion-row *ngIf="this.packages == null">
        <span class="text-home"> Al parecer aun no tienes paquetes, si quieres que verifiquemos porfavor has un pull to refresh </span>
    </ion-row>
    <ion-row>
        <ion-col col-4 style="padding: 2px;" *ngFor="let pack of this.packages" (click)="goPackage( pack.id )" >
            <img src="./assets/img/pack.png">
            <span class="packages" style="font-size: 16px;" no-padding no-margin > <strong>{{pack.puc_alias}}</strong></span>
            <br>
            <span class="packages" style="font-size: 12px;" no-padding no-margin >{{ pack.weight }}</span>
            <br>
            <span class="packages" style="font-size: 12px;" no-padding no-margin >{{ pack.checkin_at | date }}</span>
        </ion-col>
    </ion-row>
</ion-content>
