<ion-header>
  <ion-navbar color="theme-1">
    <ion-title>Selecciona tu ubicación</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="this.screen == 1" id="mapa"></div>
    <ion-footer *ngIf="this.screen == 1">
        <button ion-button block color="theme-2" (click)="doAction()">
            Detallar
        </button>
    </ion-footer>
    <div *ngIf="this.screen == 2" padding>
        <ion-list>
            <ion-item>
                <p class="package-label">Calle</p>
                <input type="text" id="route">
            </ion-item>
            <ion-item>
                <p class="package-label">Número</p>
                <input type="text" id="streetNumber">
            </ion-item>
            <ion-item>
                <p class="package-label">Colonia</p>
                <input type="text" id="sublocality">
            </ion-item>
            <ion-item>
                <p class="package-label">Municipio</p>
                <input type="text" id="locality">
            </ion-item>
            <ion-item>
                <p class="package-label">País</p>
                <input type="text" id="country">
            </ion-item>
        </ion-list>
        <button ion-button block color="theme-2" (click)="sendData()">
            Ok!
        </button>
        {{ todo }}
    </div>
</ion-content>
