page-hand-delivery {
    #mapa {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 150ms ease-in;
        display: block;
        &.show-map{
            opacity: 1;
        }
    }
    .package-label{
        color: color($colors, theme-3, base) !important;
    }
    form, input, optgroup, select {
        width: 100% !important;
    }
}
