page-intro {
    background-color: #F3F3F3;
    .slide-zoom {
        height: 100% !important;
    }
    .text-home{
        color: #95989A;
        font-weight: bold;
        font-size: 15px;
    }
    .au-form{
        margin-top: 5px!important;
        border: 2px solid #95989A;
        .icon-style{
            color: #000000;
        }
        .searchbar-md, .searchbar-ios {
            padding: 0px !important;
        }
        .label-md, .item-ios {
            margin: 0px !important;
        }
    }
    .item-md, .item-ios {
        padding-left: 0px !important;
    }
    .list-ios , .list-md {
        margin: -1px 0 2px;
    }
    .searchbar-ios {
        min-height: 0px;
        border-top: 0px solid transparent;
        border-bottom: 0px solid rgba(0, 0, 0, 0.05);
        background: rgba(0, 0, 0, 0);
    }
    #mapIntro {
        width: 100%;
        height: 300px;
        opacity: 0;
        transition: opacity 150ms ease-in;
        display: block;
        &.show-map{
            opacity: 1;
        }
    }
    #mapIntro2 {
        width: 100%;
        height: 300px;
        opacity: 0;
        transition: opacity 150ms ease-in;
        display: block;
        &.show-map{
            opacity: 1;
        }
    }
}

