<ion-header>
    <ion-navbar color="theme-1">
        <ion-title>Aprende taimingo</ion-title>
    </ion-navbar>
</ion-header>

<ion-slides pager="true">
    <ion-slide>
        <ion-content padding>
            <p class="text-home" text-justify>
                <br> <br>
                Bienvenido a Taimingo, <br> <br>
                Lugar donde podrás recoger toda tu paquetería en el momento y lugar que te convenga. <br> <br>
                Para empezar a usar el servicio por favor dá de alta al menos un PUC (lugar de recolección), busca tu casa,trabajo, casa de
                tu amigo ó de tu interés amoroso, para que el día que los visites puedas desviarte unos minutos para recoger tus paquetes.
                <br> <br>
                Dónde recibes tus paquetes
            </p>
            <ion-list class="au-form" >
                <ion-item text-center>
                    <ion-searchbar #searchbar placeholder="Busca tu PUC" ></ion-searchbar>
                    <button ion-button icon-only clear item-right (click)="getCurrentPosition()">
                        <ion-icon class="icon-style" ios="ios-locate" md="md-locate"></ion-icon>
                    </button>
                </ion-item>
            </ion-list>
            <button ion-button id="btnAddPucIntro"  (click)="hola( 1 )">
                Hola
            </button>
            <div id="mapIntro" #mapIntro></div>
            <button ion-button color="light" (click)="goToHome()">
                Saltar
            </button>
        </ion-content>
    </ion-slide>
    <ion-slide>
        <ion-content padding>
            <p class="text-home" text-justify>
                <br> <br>
            </p>
            <div id="mapIntro2" #mapIntro2></div>
            <ion-list *ngIf="this.newPuc">
                <ion-item text-wrap>
                    <b>PUC {{ this.newPuc.number }}: {{ this.newPuc.name }} </b><br>
                    {{ this.newPuc.address }}
                </ion-item>
                <ion-item no-lines>
                    <ion-icon item-left name="locate"></ion-icon>
                    <ion-label stacked style="color: #0DB605;">Nick del PUC (Nombre de referencia)</ion-label>
                    <ion-input type="text" id="pucAlias" [value]="" [(ngModel)]="this.newAlias" (input)='onChangeTime($event.target.value)'></ion-input>
                </ion-item>
                <ion-item>
                    <ion-grid>
                        <ion-row text-wrap *ngIf="this.newPuc.packages">
                            <ion-col col-4 style="padding: 2px;" (click)="gotPackage( puc, puc )" *ngFor="let pack of this.newPuc.packages">
                                <img src="./assets/img/pack.png">
                                <span class="packages" style="font-size: 16px;" no-padding no-margin > <strong> {{ pack.id }} </strong> </span>
                                <br>
                                <span class="packages" style="font-size: 12px;" no-padding no-margin >{{ pack.weight }}</span>
                                <br>
                                <span class="packages" style="font-size: 12px;" no-padding no-margin >{{ pack.checkin_at | date }}</span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <button ion-button block color="theme-2" disabled="{{ disableBtn }}"
                            (click)="addPuc()">
                        Agregar PUC
                    </button>
                </ion-item>
            </ion-list>
            <button ion-button color="light" (click)="goToHome()">
                Comenzar a usar Taimingo!
            </button>
        </ion-content>
    </ion-slide>
    <!-- Acaba la segunda vista justo aqui! -->
</ion-slides>

