<ion-header>
  <ion-navbar color="theme-1">
    <ion-title>Enviar a otro PUC</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <span class="text-home"> Selecciona el PUC al cual te gustaría enviar tu paquete. </span>
  <ion-list class="au-form" >
        <ion-item text-center>
          <ion-searchbar #searchbar placeholder="Búsca tu PUC" ></ion-searchbar>
           <button ion-button icon-only clear item-right (click)="getCurrentPosition()">
              <ion-icon class="icon-style" ios="ios-locate" md="md-locate"></ion-icon>
           </button>
        </ion-item>
   </ion-list>
   <button ion-button id="btnAddPuc" style="display: none;" (click)="hola( 1 )">
     Hola2
   </button>
   <button ion-button id="btnSendPack"  (click)="hola( 2 )">
     Hola
   </button>
   <div id="map" #map></div>
   <ion-scroll id="pucs" scrollX="true" scrollY="true" style="width: 100%; height: 100%">
     <ion-item *ngFor="let puc1 of this.pucs" [hidden]="this.puc._id == puc1._id" (click)="movePack( puc1 )" text-wrap>
       <b>PUC {{ this.puc1.nuPuc }}: {{ this.puc1.name }} </b><br>
       {{ this.puc1.address }}
     </ion-item>
    </ion-scroll>
</ion-content>
