<ion-header>
  <ion-toolbar color="theme-1">
    <ion-title>
      Historial de paquetes
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="./assets/img/pack.png" height="100px"/>
    <ion-card-content>
      <ion-card-title>
        A4D5DFD54D2SDSRW
      </ion-card-title>
      <p>
        Paquete recojido el <strong> 23-Sptiembre-2017</strong> por <strong>Rodrigo Saldivar</strong>
        <br>
        PUC Atizapan
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="./assets/img/pack.png" height="100px"/>
    <ion-card-content>
      <ion-card-title>
        A4D5DFD54D2SDSRW
      </ion-card-title>
      <p>
        Paquete recojido el <strong> 23-Sptiembre-2017</strong> por <strong>Rodrigo Saldivar</strong>
        <br>
        PUC Atizapan
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="./assets/img/pack.png" height="100px"/>
    <ion-card-content>
      <ion-card-title>
        A4D5DFD54D2SDSRW
      </ion-card-title>
      <p>
        Paquete recojido el <strong> 23-Sptiembre-2017</strong> por <strong>Rodrigo Saldivar</strong>
        <br>
        PUC Atizapan
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="./assets/img/pack.png" height="100px"/>
    <ion-card-content>
      <ion-card-title>
        A4D5DFD54D2SDSRW
      </ion-card-title>
      <p>
        Paquete recojido el <strong> 23-Sptiembre-2017</strong> por <strong>Rodrigo Saldivar</strong>
        <br>
        PUC Atizapan
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="./assets/img/pack.png" height="100px"/>
    <ion-card-content>
      <ion-card-title>
        A4D5DFD54D2SDSRW
      </ion-card-title>
      <p>
        Paquete recojido el <strong> 23-Sptiembre-2017</strong> por <strong>Rodrigo Saldivar</strong>
        <br>
        PUC Atizapan
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="./assets/img/pack.png" height="100px"/>
    <ion-card-content>
      <ion-card-title>
        A4D5DFD54D2SDSRW
      </ion-card-title>
      <p>
        Paquete recojido el <strong> 23-Sptiembre-2017</strong> por <strong>Rodrigo Saldivar</strong>
        <br>
        PUC Atizapan
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="./assets/img/pack.png" height="100px"/>
    <ion-card-content>
      <ion-card-title>
        A4D5DFD54D2SDSRW
      </ion-card-title>
      <p>
        Paquete recojido el <strong> 23-Sptiembre-2017</strong> por <strong>Rodrigo Saldivar</strong>
        <br>
        PUC Atizapan
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="./assets/img/pack.png" height="100px"/>
    <ion-card-content>
      <ion-card-title>
        A4D5DFD54D2SDSRW
      </ion-card-title>
      <p>
        Paquete recojido el <strong> 23-Sptiembre-2017</strong> por <strong>Rodrigo Saldivar</strong>
        <br>
        PUC Atizapan
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
