<ion-header>
  <ion-navbar color="theme-1">
    <ion-title>Agrega tu PUC</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <span class="text-home"> Dónde recibes tus paquetes </span>
  <ion-list class="au-form" >
        <ion-item text-center>
          <ion-searchbar #searchbar placeholder="Búsca tu PUC" ></ion-searchbar>
           <button ion-button icon-only clear item-right (click)="getCurrentPosition()">
              <ion-icon class="icon-style" ios="ios-locate" md="md-locate"></ion-icon>
           </button>
        </ion-item>
   </ion-list>
   <div id="map" #map></div>
   <ion-scroll id="pucs" scrollX="true" scrollY="true" style="width: 100%; height: 100%">
     <ion-item *ngFor="let puc of this.pucs" (click)="goShowPucPage( puc )" [hidden]="puc.aliasPuc != null" text-wrap>
       <b>PUC {{ this.puc.nuPuc }}: {{ this.puc.name }} </b><br>
       {{ this.puc.address }}
     </ion-item>
    </ion-scroll>
</ion-content>
