<ion-header>
    <ion-navbar color="theme-1">
        <ion-title *ngIf="this.puc">
            {{ this.puc.name }}
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div id="map" #map ></div>
    <ion-list no-lines *ngIf="this.puc">
        <ion-item text-wrap>
            <b >PUC {{ this.puc.number }}: {{ this.puc.name }} </b><br>
            <p text-wrap ngClass=”selectable”>{{ this.puc.address }}</p>
        </ion-item>
        <ion-item no-lines>
            <ion-icon item-left name="locate"></ion-icon>
            <ion-label stacked style="color: #0DB605;">Nick del PUC (Nombre de referencia)</ion-label>
            <ion-input type="text" id="pucAlias" [(ngModel)]="this.newAlias" (input)='onChangeTime($event.target.value)'></ion-input>
        </ion-item>
        <ion-item no-lines>
            <strong>Paquetes</strong>
        </ion-item>
        <ion-item>
            <ion-grid>
                <ion-row text-wrap *ngIf="this.packages">
                    <ion-col col-4 style="padding: 2px;" (click)="gotPackage( puc, puc )" *ngFor="let pack of this.packages">
                        <img src="./assets/img/pack.png">
                        <span class="packages" style="font-size: 16px;" no-padding no-margin > <strong> {{ pack.id }} </strong> </span>
                        <br>
                        <span class="packages" style="font-size: 12px;" no-padding no-margin >{{ pack.weight }}</span>
                        <br>
                        <span class="packages" style="font-size: 12px;" no-padding no-margin >{{ pack.checkin_at | date }}</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <button ion-button block color="theme-2" disabled="{{ disableBtn }}"
                    [hidden]="this.puc.aliasPuc != null" (click)="addPuc()">
                Agregar PUC
            </button>
            <button ion-button block color="theme-2" disabled="{{ disableBtn }}"
                    [hidden]="this.puc.aliasPuc == null" (click)="updatePuc()">
                Editar PUC
            </button>
        </ion-item>
    </ion-list>
</ion-content>
