page-show-puc {
      #map {
             width: 100%;
             height: 300px;
             opacity: 0;
             transition: opacity 150ms ease-in;
             display: block;
             &.show-map{
                 opacity: 1;
             }
      }
    .selectable {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
}
