<ion-header>
  <ion-toolbar color="theme-1">
    <ion-title>Ingresar dirección</ion-title>
    <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true"
                    (ionInput)="updateSearch()" (ionCancel)="dismiss()" autofocus #input></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
      {{ item }}
    </button>
  </ion-list>
</ion-content>
