page-signup {
  .stacked-color {
      color:  #009999!important;
  }
  .text-signup{
    color: #95989A;
    font-weight: bold;
    font-size: 15px;
  }
  .signup-button{
    background-color: color($colors, theme-2, base);
  }
}
