<ion-header>
    <ion-navbar color="theme-1">
        <ion-title>Regístrate en Taimingo</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding text-center>
    <p text-justify class="text-signup">
        Bienvenido a Taimingo para iniciar a recibir paquetes abre una cuenta con nosotros. Que esperas, unete a la familia de Taimingo.
    </p>
    <form class="signup-form auth-form" [formGroup]="signupForm" (ngSubmit)="doSignup()">
        <ion-item>
            <ion-label stacked class="stacked-color">Nombre</ion-label>
            <ion-input type="text" placeholder="Nombre" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked class="stacked-color">Apellidos</ion-label>
            <ion-input type="text" placeholder="Apellidos" formControlName="lastnames"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked class="stacked-color">Telefono</ion-label>
            <ion-input type="number" placeholder="Telefono" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked class="stacked-color">Correo</ion-label>
            <ion-input type="email" placeholder="Correo" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked class="stacked-color">Contraseña</ion-label>
            <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked class="stacked-color">Cumpleaños</ion-label>
            <ion-datetime displayFormat="YYYY/MM/DD" formControlName="birthday"></ion-datetime>
        </ion-item>

            <ion-label stacked class="stacked-color">Genero</ion-label>
            <!-- Segment buttons with text -->
            <ion-segment formControlName="gender" color="theme-2">
                <ion-segment-button value="10" >
                    Macho
                </ion-segment-button>
                <ion-segment-button value="20">
                    Dama
                </ion-segment-button>
            </ion-segment>

        <br><br>
        <button ion-button block class="signup-button" type="submit" [disabled]="!signupForm.valid" >Registrate</button>
    </form>
</ion-content>
