<ion-header>
    <ion-toolbar>
        <ion-title>
            Information
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <h1>Como se usa?</h1>
    <p>


    </p>
</ion-content>
