page-add-card {
  .label-md, .label-ios {
    margin: 0px 8px 0px 0 !important;
  }
  .profile-label{
    color: color($colors, theme-3, base) !important;
    font-weight: bold;
    font-size: 15px;
  }
  .card-label{
    color: color($colors, theme-2, base) !important;
  }
  .grid-card{
    .select-icon-inner {
        left: -17px !important;
    }
    .row-titles{
      margin-bottom: -17px;
    }
  }
  .text-subtitle{
    color: #95989A;
    font-weight: bold;
    font-size: 15px;
  }
  .btn-card{
    color: #fff;
    background-color: #FF7043;
    bottom: 10px;
    position: absolute;
    width: 91%;
  }
  ion-select {
    max-width: 100%!important;
  }

}
