<ion-header>
    <ion-navbar color="theme-1">
        <ion-title>Agregar tarjeta</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding [hidden]="this.switch == 2">
    <ion-list no-lines>
        <ion-item>
            <span class="text-subtitle"><ion-icon style="font-size: 25px;" ios="ios-card" md="md-card" item-start></ion-icon> **** **** ***3 465 </span> <ion-icon color="danger" ios="ios-trash" md="md-trash" item-end></ion-icon>
        </ion-item>
        <ion-item>
            <span class="text-subtitle"><ion-icon style="font-size: 25px;" ios="ios-card" md="md-card" item-start></ion-icon> **** **** ***3 465 </span> <ion-icon color="danger" ios="ios-trash" md="md-trash" item-end></ion-icon>
        </ion-item>
        <ion-item>
            <span class="text-subtitle"><ion-icon style="font-size: 25px;" ios="ios-card" md="md-card" item-start></ion-icon> **** **** ***3 465 </span> <ion-icon color="danger" ios="ios-trash" md="md-trash" item-end></ion-icon>
        </ion-item>
    </ion-list>
    <hr>
    <p style="color:black; font-size: 18px" text-justify >
        Recuerda que se te se te cobrará por transacción por lo que para entrar ingresa una tarjeta de crédito válida.
    </p>
    <p class="text-subtitle">
        Elige tu método de pago
    </p>
    <p class="profile-label">
        Datos de la tarjeta
    </p>
    <ion-list>
        <ion-item>
            <ion-label class="profile-label"> <ion-icon style="font-size: 25px;" ios="ios-card" md="md-card"></ion-icon> </ion-label>
            <ion-input type="number" [(ngModel)]="noCard" placeholder="Número de la tarjeta"></ion-input>
        </ion-item>
        <ion-item >
            <ion-label class="profile-label"><ion-icon style="font-size: 25px;"  ios="ios-person" md="md-person"></ion-icon></ion-label>
            <ion-input text-wrap type="text" [(ngModel)]="nameCard" placeholder="Nombre (como aparece en el plástico)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label class="profile-label"><ion-icon style="font-size: 25px;" ios="ios-unlock" md="md-unlock"></ion-icon></ion-label>
            <ion-input type="number" [(ngModel)]="cvvCard" placeholder="Código CVV 4 o 4 dígitos"></ion-input>
        </ion-item>
    </ion-list>
    <p class="profile-label">
        <ion-icon style="font-size: 25px;" class="profile-label" ios="ios-calendar" md="md-calendar"></ion-icon> Expiración
    </p>
    <ion-row>
        <ion-col col-8>
            <ion-select [(ngModel)]="monthCard" interface="popover">
                <ion-option value="" disabled selected>Mes</ion-option >
                <ion-option *ngFor="let month of months" [value]=month.id  > {{ month.name }} </ion-option>
            </ion-select>
        </ion-col>
        <ion-col col-4>
            <ion-select [(ngModel)]="yearCard" interface="popover">
                <ion-option value="" disabled selected>Año</ion-option >
                <ion-option *ngFor="let year of years" [value]=year.value > {{ year.id }} </ion-option>
            </ion-select>
        </ion-col>
    </ion-row>
    <button ion-button block (click)="switchScreen()" color="theme-2" [disabled]="!noCard || !nameCard || !cvvCard || !monthCard || !yearCard " > Siguiente </button>
    <button ion-button block (click)="addCard()" color="theme-2" > Agregar tarjeta </button>

</ion-content>
<!-- Page 2 Data of address -->
<ion-content padding [hidden]="this.switch == 1">
    <button ion-button outline (click)="switchScreen()" color="danger">
        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        Regresar
    </button>
    <p style="color:black; font-size: 18px" text-justify >
        Recuerda que se te se te cobrará por transacción por lo que para entrar ingresa una tarjeta de crédito válida.
    </p>
    <p class="profile-label">
        Dirección
    </p>
    <ion-list>
        <ion-item>
            <ion-input text-wrap type="text" [(ngModel)]="addressCalle" placeholder="Calle"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input text-wrap type="number" [(ngModel)]="addressNumero" placeholder="Numero"></ion-input>
            <ion-input text-wrap type="number" [(ngModel)]="addressCp" placeholder="CP"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input text-wrap type="text" [(ngModel)]="addressMunicipio" placeholder="Municipio"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input text-wrap type="text" [(ngModel)]="addresEstado" placeholder="Estado"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button block (click)="addCard()" color="theme-2" [disabled]="!addressCalle || !addressNumero || !addressCp || !addressMunicipio " > Agregar tarjeta </button>
</ion-content>
